@model string

@{
    ViewBag.Title = "Товары";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Товары всех категорий</h2>


@if (ViewBag.roles.Contains("employee"))
{
    <p>
        @Html.ActionLink("Добавить товар", "Create")
    </p>
}

@using (Ajax.BeginForm("AjaxList", new AjaxOptions { UpdateTargetId = "results" }))
{
    <input type="hidden" name="cat_id" value="0">
    <input type="search" value="@ViewBag.search" name="search" placeholder="Поиск товара" class="input-group-text" style="width:80%">
    <input type="submit" value="Найти" class="btn" id="btn-list">
}

<div class="row" style="margin-top:10px">
    <div class="col-md-9">
        <div id="results"></div>

    </div>

</div>
<script>
    function funonload() {
        $('#btn-list').click();
    }
    window.onload = funonload;
</script>